/*********************
GENERAL
*********************/

ol,
ul {
    padding: 0;
}

body {
    font-family: 'Open-Sans', sans-serif;
  }
  /*
  #wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
  }*/
  
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;  
  }
  /*
  h3 {
    margin: 0 0 1em 0;
  }*/
  
  
    h1 {
      margin-left: 20%;
      margin-right: 20%;
    }
    
    h2 {
      margin-left: 20%;
      margin-right: 20%;
    }

    h3 {
      margin-left: 20%;
      margin-right: 20%;
    }
    
    p {
      margin-left: 20%;
      margin-right: 20%;
    }
    

  /*********************
  HEADER
  *********************/
  
  header {
    /*float: left;*/
    /*margin: 0 0 30px 0;*/
    display: block;
    padding: 5px 0 0 0;
    width: 100%;
  }
  
  /*  
  #logo {
    text-align: center;
    margin: 0;
  }
  */

  h1 {
    font-family: 'Changa-One', sans-serif;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
  }
  
  h2 {
    font-size: 1.50em;
    font-weight: normal;
  }
  
  .initials {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 0;
    width: 10%
  }
  
  /*********************
  NAVIGATION
  *********************/
  
  nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    padding: 5px 0;
  }
  
  nav a {
    font-weight: 800;
    padding: 15px 10px;
  }
  

  /*********************
  SUB NAVIGATION
  *********************/
  
  #sub-nav {
    text-align: center;
    padding: 10px 0;

  }
  
  #sub-nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }
  
  #sub-nav li {
    display: inline-block;
    padding: 5px 0;
  }
  
  #sub-nav a {
    font-weight: 800;
    padding: 15px 10px;
  }

  /*********************
  FOOTER
  *********************/
  
  footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding: 50px;
    color: #ccc;
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
  }
  
  /*********************
  PAGE PORTFOLIO
  *********************/
  /*
  #gallery {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
  }
  
  #gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #bdc3c7;
  }*/
  
  
  /*********************
  PAGE ABOUT
  *********************/
  
  .profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
  }
  

  /*********************
  PAGE MY WRITING
  *********************/
  
  #my-writing-gallery {
    /*margin: 0;
    padding: 0;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  
  #my-writing-gallery li {
    justify-content: center;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  #my-writing-gallery li a h3 {
    margin: 0;
    padding: 2%;
    text-align: center;
  }

  #my-writing-gallery li a p {
    margin: 0;
    padding: 5%;
    text-align: center;
    font-size: 0.75em;
    color: #bdc3c7;
  }
  
  #NSS {
    width: 95%;
    display: flex;
    margin: 2.5%;
  }
  

  /*********************
  PAGE MY WORK
  *********************/


  .canva-embed {
    margin: auto;
    max-width: 800px;
  }

  #prototype {
    text-align: center;
  }

  #prototype iframe {
    max-width: 95%;
  }

  /*********************
  PAGE CONTACT
  *********************/
  
  .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
  }
  
  .contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
  }
  
  .contact-info li.phone a {
    background-image: url('../img/phone.png')
  }
  
  .contact-info li.email a {
    background-image: url('../img/mail.png')
  }
  
  .contact-info li.twitter a {
    background-image: url('../img/twitter.png')
  }
  
  
  /*********************
  COLOR
  *********************/
  /* site body */
  body {
    background-color: #fff;
    color: #999
  }
  
  
  a {
    color: #6ed3cf;
  }
  
  
  /* blue header */
  header {
    background: #6ed3cf;
    border-color: #9068be;
    border-bottom: 5px solid #9068be;
    /*margin-bottom: 60px;*/
  }


  h1, h2 {
    color: #9069be;
  }

  h3 {
    color: #6ed3cf;
  }

  /* nav link */
  nav a, nav a:visited {
    color: #fff;
  }
  
  /* nav link selected */
  nav a.selected, nav a:hover {
    color: #9068be;
  }
  
  /* sub nav background*/
  #sub-nav {
    background-color: #999;
  }

  /* sub nav link */
  #sub-nav a, a:visited {
    color: #fff;
  }
  
  /* nav link selected */
  #sub-nav a.selected, #sub-nav a:hover {
    color: #e6273a; /*d5*/
  }

  /*footer {
    background: /*#e6273ad5 #9069be;
  }
  
  footer p {
    color: #fff;
  }*/