@media screen and (max-width: 479px) {
  
    /*********************
    TWO COLUMN LAYOUT
    *********************/
    
    #primary {
      width: 50%;
      float: left;
    }
    
    #secondary {
      width: 50%;
      float: right;
    }
  
    /*********************
    HEADER
    *********************/


    .initials {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 0 0 0;
      width: 20%
    }


    /*********************
    PAGE: PORTFOLIO
    *********************/
  
    #gallery li {
      width: 28.3333%;
    }
  
    #gallery li:nth-child(4n) {
      clear: left;
    }
  

    /*********************
    PAGE: MY WRITING
    *********************/
  
    #my-writing-gallery li {
        width: 28.3333%;
        max-width: 300px;
        min-width: 200px;
      }
    
      #my-writing gallery li:nth-child(4n) {
        clear: left;
      }


    /*********************
    PAGE: MY WORK
    *********************/
      /*#prototype {
        max-width: 95%;
      }*/

      #canva div {
        max-width: 95%;
      }

    /*********************
    PAGE: ABOUT
    *********************/
  


    /*********************
    PAGE: HOME
    *********************/
    
    .profile-photo {
      max-width: 120px;
    }

    h1 {
        font-size: 2.5em;
        /*margin-left: 20%;*/
      }
      
       h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
        /*margin-left: 30px;*/
      }
  /*
      h3 {
          margin-left: 30px;
      }*/
/*
      .homepageIntro p {
        margin-left: 30px;
      }*/
}


@media screen and (min-width: 480px) {
  
    /*********************
    TWO COLUMN LAYOUT
    *********************/
    
    #primary {
      width: 50%;
      float: left;
    }
    
    #secondary {
      width: 50%;
      float: right;
    }
  
  
    /*********************
    PAGE: PORTFOLIO
    *********************/
  
    #gallery li {
      width: 28.3333%;
    }
  
    #gallery li:nth-child(4n) {
      clear: left;
    }
  
    /*********************
    PAGE: MY WRITING
    *********************/
  
    #my-writing-gallery li {
        width: 28.3333%;
        max-width: 300px;
        margin-left: 0px;
      }
    
      #my-writing-gallery li:nth-child(4n) {
        clear: left;
      }


    /*********************
    PAGE: MY WORK
    *********************/

      #canva div {
        max-width: 95%;
      }



    /*********************
    PAGE: ABOUT
    *********************/
  


    /*********************
    PAGE: HOME
    *********************/
    .homepageIntro {
      display: block;
    }
    
    /*.profile-photo {
      float: right;
      border-radius: 5%;
      margin: 5% 10% 2% 1%;
    }*/
    
    h1 {
        font-size: 2.5em;
        /*margin-left: 50px;*/
      }
      
       h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
        /*margin-left: 50px;*/
      }
  /*
      h3 {
          margin-left: 50px;
      }*/
/*
      .homepageIntro p {
        margin-left: 50px;
      }*/
}
  
  @media screen and (min-width: 660px) {
  
    /*********************
    HEADER
    *********************/
    
    nav {
      background: none;
      font-size: 1.125em;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    
    /*  
    #logo {
      float: left;
      margin-left: 5%;
      text-align: left;
      width: 45%;
    }
    */

    h1 {
      font-size: 2.5em;
    }
    
     h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }


    /*********************
    PAGE: MY WORK
    *********************/

    #canva div {
      max-width: 650px;
    }

  @media screen and (min-width: 840px) {

    /*********************
    PAGE: MY WORK
    *********************/

    #canva div {
      max-width: 800px;
    }

  }

  }